Package: com.xiongmao.dydaemon
Name: dyDaemon-XiongMao
Version: 1.0.0
Description: Douyin automation tool - XiongMao platform edition
Section: System
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: xiongmao
Maintainer: xiongmao
