Package: com.xiongmao.dydaemon
Name: dyDaemon-XiongMao
Version: 2.1.0
Description: 熊猫云控 v2.1 - 双数据源(DNS2+熊猫)
Section: System
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: xiongmao
Maintainer: xiongmao
