Package: com.xiongmao.dyDaemon
Name: dyDaemon-熊猫
Version: 1.0.0
Description: 抖音自动化助手 - 熊猫平台版
Section: System
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: xiongmao
Maintainer: xiongmao
